In [1]:
import numpy as np
import pandas as pd

## Original author: QQQiwi

### Date for stats

In [16]:
date = "ЗАПОЛНИТЬ ДАТУ" #ЗАПОЛНЯТЬ ДАТУ КАЖДЫЙ ПН.

### Mean time statistic

In [17]:
main_sample = pd.read_csv('main_sample.csv')
main_sample.head()

,duns,domain,gt_domain,business_name,address_1,address_2,city_name,state_name,postal_code,country_name,line_of_business,better_domain,perfect_match,probably_match,not_match,alternative_domain,comment,time
0,9606281,www.ridesta.com,ridesta.com,"Student Transportation of America, Inc.",3349 State Route 138,NaN,WALL TOWNSHIP,New Jersey,7719,USA,School bus service,ridesta.com,1.0,NaN,NaN,NaN,NaN,"2,00"
1,278145859,eiffage.com,eiffageenergiesystemes.com,EIFFAGE ENERGIE SYSTEMES - REGIONS FRANCE,3-7,3 PL DE L EUROPE,VELIZY-VILLACOUBLAY,YVELINES,78140,FRANCE,Electrical contractor,eiffageenergiesystemes.com,1.0,NaN,NaN,NaN,NaN,"5,00"
2,211990304,fujitsu.com,uk.fujitsu.com,FUJITSU SERVICES HOLDINGS PLC,Lovelace Road,NaN,BRACKNELL,BERKSHIRE,RG12,ENGLAND,Computer related services,uk.fujitsu.com,1.0,NaN,NaN,NaN,NaN,"2,00"
3,654253814,lyfiber.com,petrochina.com.cn,PetroChina Liaoyang Petroleum Chemical Fiber C...,"No.5, Huoju Street, Hongwei District",NaN,Liaoyang,Liaoning,11100,CHINA,Mfg organic fiber-noncellulosic,lyfiber.com,NaN,1.0,NaN,NaN,NaN,"7,30"
4,214511420,gxo.com,europe.xpo.com,GXO LOGISTICS UK LIMITED,Building 1,Haymarket Square,EDINBURGH,MIDLOTHIAN,EH3 8,SCOTLAND,Trucking operator-nonlocal,gxo.com,NaN,1.0,NaN,NaN,NaN,"5,70"

In [18]:
mean_time = main_sample['time'].dropna()
mean_time = mean_time.str.replace(',', '.').astype(float)

print(f"Среднее время на {date}")
mean_time.mean().round(2)

Среднее время на ЗАПОЛНИТЬ ДАТУ

2.68

### Statistic for each employee

In [20]:
samples_count = pd.read_csv('sample_count.csv', header = [0, 1])
samples_count.head()

                День    Рома            Харитон              Саша            \
  Unnamed: 0_level_1 samples  task hour samples task hour samples task hour
0        18-сент.-24     NaN   NaN  NaN     NaN  NaN  NaN     NaN  NaN  NaN
1        19-сент.-24    58.0  main  3.0     NaN  NaN  NaN     NaN  NaN  NaN
2        20-сент.-24    20.0  main  1.0     NaN  NaN  NaN     NaN  NaN  NaN
3        21-сент.-24     NaN   NaN  NaN     NaN  NaN  NaN     NaN  NaN  NaN
4        22-сент.-24     NaN   NaN  NaN     NaN  NaN  NaN     NaN  NaN  NaN

  Unnamed: 10_level_0 Unnamed: 11_level_0
  Unnamed: 10_level_1 Unnamed: 11_level_1
0                 NaN                 NaN
1                 NaN         Half PayDay
2                 NaN            Выходной
3                 NaN                 NaN
4                 NaN                 NaN

In [25]:
samples_count.columns = ['Day'] + ['_'.join(filter(None, col)).strip() for col in samples_count.columns[1:]]
samples_count.columns

Index(['Day', 'Рома_samples', 'Рома_task', 'Рома_hour', 'Харитон_samples',
       'Харитон_task', 'Харитон_hour', 'Саша_samples', 'Саша_task',
       'Саша_hour', 'Unnamed: 10_level_0_Unnamed: 10_level_1',
       'Unnamed: 11_level_0_Unnamed: 11_level_1'],
      dtype='object')

In [49]:
for col in samples_count.columns:
    if 'samples' in col or 'hour' in col:
        samples_count[col] = samples_count[col].replace({",": "."}, regex = True).dropna().astype(float, errors = "ignore")

samples_count.fillna(0, inplace = True)
emp_list = ['Саша', 'Харитон', 'Рома']
result = {}

for emp in emp_list:
    emp_total_samples = f'{emp}_samples'
    emp_total_hours = f'{emp}_hour'
    working_days = samples_count[samples_count[emp_total_samples] != 0].shape[0]

    result[emp] = {'Total Samples:': samples_count[emp_total_samples].replace({0: None}).dropna().astype(float).sum(),
                  'Total Hours:': samples_count[emp_total_hours].replace({0: None}).dropna().astype(float).sum(),
                  'Working Days:': working_days}

result_pd = pd.DataFrame(result).T
print(f"Статистика на {date}:"); print(result_pd)

Статистика на ЗАПОЛНИТЬ ДАТУ:
         Total Samples:  Total Hours:  Working Days:
Саша                0.0          0.00            0.0
Харитон            61.0          2.75            2.0
Рома              402.0         20.00            9.0

### Percentage

In [50]:
sample_all = main_sample['time'].shape[0]
sample_left = result_pd['Total Samples:'].sum()
percentage = f"{np.round((sample_left / sample_all * 100), 2)}%"
print(sample_all); print(sample_left); print(percentage)

10789
463.0
4.29%

In [51]:
print(f"Общая статистки на {date}"); print(pd.Series({'All Samples:': sample_all,
                                                      'Marked Samples:':sample_left,
                                                       'Percentage:':percentage}))

Общая статистки на ЗАПОЛНИТЬ ДАТУ
All Samples:       10789
Marked Samples:    463.0
Percentage:        4.29%
dtype: object